@import "tailwindcss";


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;
}

.nav-button {
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-button:hover {
  transform: translateY(-1px);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.custom-file-input {
  color: transparent; /* hides default text */
}

.custom-file-input::before {
  content: '+ Add Attachment (Display)';
  color: #555;
  display: inline-block;
  margin-right: 10px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.room-file-input{
  color: transparent;
}

.room-file-input::before{
   content: '+ Add Attachment (Room)';
  color: #555;
  display: inline-block;
  margin-right: 10px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Others-file-input{
  color: transparent;
}

.Others-file-input::before{
   content: '+ Add Attachment (Room)';
  color: #555;
  display: inline-block;
  margin-right: 10px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}



